* {
  box-sizing: border-box; 
}
html {
  scroll-behavior: smooth;
  position: relative;
}
body:before, body:after {
  content: "";
  position: fixed;
  background: #18222e;
  left: 0;
  right: 0;
  height: 20px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
  z-index: 1;
  height: 30px;
}
body {
  position: absolute;
  border-left: 20px solid #18222e;
  border-right: 20px solid #18222e; 
  margin: 0px;
  background-color: #e9e5e6;
}
h1 {
  text-align: center;
  margin-top: 26px;
  font-size: 28px;
  font-family: 'Press Start 2P', cursive;
}
.discover {
  position: relative;
  color: #0c1029;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px #f24000;
  border-radius: 14px;
  font-weight: bolder;
  padding: 2px;
  background-color: #e9e5e6;
  z-index: 1;
  font-family: 'Audiowide', cursive;
}
.discover::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 6px solid #0c1029;
  border-radius: 20px;
}
.discover::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -16px;
  left: -16px;
  right: -16px;
  bottom: -16px;
  border: 6px solid #009ccc;
  border-radius: 26px;
}
section {
  margin-bottom: 150px;
  margin-top: 40px;
  height: 100%;
  margin-left:auto;
  margin-right: auto;
}
.games {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.results {
  position: relative;
  width: 80%;
  border-radius: 40px;
  background-color: #e9e5e6;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #f24000;
  color: #0c1029;
  z-index: 1;
  padding: 10px;
  font-family: 'Turret Road', cursive;
}
.results:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -16px;
  left: -16px;
  right: -16px;
  bottom: -16px;
  border: 8px solid #0c1029;
  border-radius: 50px;
}
.results:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -24px;
  left: -24px;
  right: -24px;
  bottom: -24px;
  border: 8px solid #009ccc;
  border-radius: 58px;
}
.results img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.results video {
  width: 100%;
  border-radius: 20px;
}
a, .Button {
  cursor: pointer;
}
a {
  color: #18222e;
  font-family: 'Audiowide', cursive;
}
.scrollup a {
  font-family: 'Monoton', cursive;
}
a:hover {
  color: #009ccc;
}
.Button {
  font-size: 16px;
  background-color: #f24000;
  border-radius: 10px;
  padding: 2px;
}
.Search {
  border: solid 2px #009ccc;
  border-radius: 10px;
  width: 90px;
}
label {
  font-size: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
.sim.Search {
  margin-right: 6px;
}
footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0px;
  z-index: 2;
}
footer div {
  background-color: #f24000;
  height: 30px;
  color: #18222e;
  font-size: 26px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  font-family: 'Monoton', cursive;
}
#character, #gameTitle, #simGames{
  display: flex;
  justify-content: space-between;
}
#explore {
  display: flex;
  justify-content: center;
}
form {
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 99%;
}
.explore.Button {
  margin-left: 12px;
}
.noResults {
  height: 100vh;
}
.vresults {
  position: relative;
  width: 80%;
  border-radius: 40px;
  background-color: #e9e5e6;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  border: 20px solid #f24000;
  color: #0c1029;
  z-index: 1;
  padding: 10px;
}
.vresults:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -44px;
  left: -44px;
  right: -44px;
  bottom: -44px;
  border: 24px solid #0c1029;
  border-radius: 66px;
}
.vresults:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -68px;
  left: -68px;
  right: -68px;
  bottom: -68px;
  border: 24px solid #009ccc;
  border-radius: 90px;
}
.vresults img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.vresults .videoDiv {
  width: 100%;
  border-radius: 20px;
  height: 400px;
  margin-bottom: 100px;
}
iframe {
  width: 100%;
  border-radius: 20px;
  height: 400px;
}
.results figure img {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.results figure {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.ch.Search {
  margin-right: -6px;
}
@media (min-width: 414px) {
  .discover {
    width: 414px;
  }
  .Search {
    width: 170px;
  }
}
@media (min-width: 800px) {
  main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    width: 100%;
  }
}