* {
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}
body:before, body:after {
  content: "";
  position: fixed;
  background: #18222e;
  left: 0;
  right: 0;
  height: 30px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
  z-index: -1;
  height: 50px;
}
body {
  position: absolute;
  border-left: 30px solid #18222e;
  border-right: 30px solid #18222e; 
  margin: 0px;
  background-color: #e9e5e6;
 
}

h1 {
  text-align: center;
  margin-top: 44px;
  font-size: 40px;
}

#character {
  margin-top: -25px;
}
.discover {
  width: 555px;
  position: relative;
  color: #0c1029;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: solid 16px #f24000;
  border-radius: 60px;
  font-weight: bolder;
  padding: 30px;
  background-color: #e9e5e6;
  z-index: 1;
}


.discover::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  border: 14px solid #0c1029;
  border-radius: 77px;
}

.discover::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -44px;
  left: -44px;
  right: -44px;
  bottom: -44px;
  border: 14px solid #009ccc;
  border-radius: 90px;
}

section {
  margin-bottom: 150px;
  height: 100%;
  margin-left:auto;
  margin-right: auto;
}

.games {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

}

.results {
  position: relative;
  width: 80%;
  border-radius: 40px;
  background-color: #e9e5e6;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  border: 20px solid #f24000;
  color: #0c1029;
  z-index: 1;
  padding: 30px;
}

.results:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -44px;
  left: -44px;
  right: -44px;
  bottom: -44px;
  border: 24px solid #0c1029;
  border-radius: 66px;
}

.results:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -68px;
  left: -68px;
  right: -68px;
  bottom: -68px;
  border: 24px solid #009ccc;
  border-radius: 90px;
}

.results img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.results video {
  width: 100%;
  border-radius: 20px;
}

a, .Button {
  cursor: pointer;
}

.Button {
  font-size: 28px;
  background-color: #f24000;
  border-radius: 10px;
  padding: 6px;
}

.Search {
  border: solid 2px #009ccc;
  font-size: 24px;
  border-radius: 10px;
}
label {
  font-size: 28px;
  margin-top: auto;
  margin-bottom: auto;
}
.game.Search {
  margin-right: 12px;
}

.sim.Search {
  margin-right: 22px;
}

footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0px;
}

footer div {
  background-color: #f24000;
  width: 50px;
  height: 50px;
  color: #0c1029;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

#character, #gameTitle, #simGames{
  display: flex;
  justify-content: space-between;
}

#explore {
  margin-bottom: -20px;
  display: flex;
  justify-content: center;
}

form {
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.explore.Button {
  margin-left: 12px;
}

.noResults {
  height: 100vh;
}

.vresults {
  position: relative;
  width: 80%;
  border-radius: 40px;
  background-color: #e9e5e6;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  border: 20px solid #f24000;
  color: #0c1029;
  z-index: 1;
  padding: 30px;
}

.vresults:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -44px;
  left: -44px;
  right: -44px;
  bottom: -44px;
  border: 24px solid #0c1029;
  border-radius: 66px;
}

.vresults:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -68px;
  left: -68px;
  right: -68px;
  bottom: -68px;
  border: 24px solid #009ccc;
  border-radius: 90px;
}

.vresults img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.vresults .videoDiv {
  width: 100%;
  border-radius: 20px;
  height: 400px;
  margin-bottom: 100px;
}

iframe {
  width: 100%;
  border-radius: 20px;
  height: 400px;
}

.results figure img {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.results figure {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 800px) {
  main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}